
@tailwind base;
@tailwind components;
@tailwind utilities;

.submit {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 200px;
          border-radius: 20px;
          border: none;
          color: white;
          background-color: blue;
          margin: 20px;
          cursor: pointer;
        }
        .gray {
          background-color: #eaeaea;
          color: #676767;
        }

       